.content {
	text-align: center;
}

.row {
	display: flex;
	margin-bottom: 10px;
	justify-content: center;
	align-items: center;
}

.row label {
	width: 150px;
	text-align: left;
}

.row input, .row textarea, .row select {
	height: 22px;
	width: 30%;
}

.row select {
	height: 28px;
}

.row textarea {
	height: inherit;
	min-height: 20px;
	resize: vertical;
}

.btn-group button {
	padding: 4px 8px;
	margin-right: 10px;
}