.main-content {
	overflow-y: auto;
	height: calc(93vh + 5px);
}

.question {
	background: #d7e4f2;
	width: 90%;
	border-radius: 8px;
	margin: 10px 20px;
	padding: 5px 10px;
	word-wrap: break-word;
}

.question.choose {
	background: #a9b3bf;
}

.list-question {
	width: 80%;
}

.display-timeout {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.timeout-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: sticky;
	top: 0;
	height: 110px;
	background-color: rgb(192, 192, 192);
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 2px 4px rgba(0, 0, 0.5, 0.7);
}

#timeout {
	font-size: 50px;
	margin: 0 auto;
}

.title-timeout {
	background-color: #5984d3;
	color: white;
	font-size: 20px;
	margin: 0 auto;
	padding: 10px 2px;
}

.btn-submit {
	transform: translate(45vw, 10px);
	margin-bottom: 20px;
	background-color: #d0d0e2;
	padding: 10px;
	border-radius: 12px;
	border: none;
	outline: none;
	font-size: 20px;
}

.exam-info {
	margin-left: 40%;
	width: 50%;
	border-radius: 5px;
	border: 1px solid #c4c4c4;
}

.exam-info label {
	font-weight: bold;
}

.exam-info .exam-info-body {
	padding: 5px 10px;
}

.exam-info .exam-name {
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #cfcfe1;
	padding: 5px 10px;
	font-weight: bold;
}

.exam-info .row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.exam-info .row div:first-child {
	width: 60%;
}

.exam-info .row div:nth-child(2) {
	flex-grow: 1;
}